.score {
  font-size: 2em;
  width: calc(100% - 0.4em);
  margin: 0.2em;
  text-align: center;
  font-family: monospace;
  user-select: none;
  background-color: rgb(125, 166, 241);
  border-radius: 25px;
  }