.card {
  font-size: 3.5em;
  margin: 7px;
  display: flex;
  min-width: 150px;
  min-height: 150px;
  cursor: default;
  border-radius: 25px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  
.card.hidden {background: rgba(206, 206, 8, 0.616)}
  
.card.justMatched{
  outline-color: rgb(3, 182, 3);
  background-color: rgb(3, 182, 3);
}

.card.justMismatched {
  outline-color: rgb(255, 0, 0);
  background-color:  rgb(255, 0, 0);
}
  
.card.visible {
  cursor: not-allowed;
  background: rgb(206, 204, 204);
}
  
.symbol {margin: auto;}

@media only screen and (max-width: 740px) {
  .card{
    min-width: 100px;
    min-height: 100px;
    font-size: 3em;
  }
}