.Game {
    text-align: center;
    padding: 2%;
  }
    
.Header {
    background-color: #222;
    height: 50px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: rgb(38, 38, 122);
    border-radius: 25px;
    margin: 10%, 10%;
  }
    
.Title {font-size: 50px}
.Status {padding: 15px}
.Status div:first-of-type {font-size: 30px}